/* Common styles for all menus */
.menu {
	line-height: 1;

}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__item__name {
    display: block;
    margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link__name {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #b5b5b5;
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Individual styles */

/* Ceres */
.menu--ceres .menu__item {
	position: relative;
}

.menu--ceres .menu__link {
	position: relative;
	min-width: 115px;
	height: 50px;
	padding: 1em 1.5em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--ceres .menu__link:hover,
.menu--ceres .menu__link:focus {
	color: #929292;
}

.menu--ceres .menu__item--current .menu__link {
	color: black;
}

.menu--ceres .menu__item::before,
.menu--ceres .menu__item::after,
.menu--ceres .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	background: #3399FF;
}

.menu--ceres .menu__item::before,
.menu--ceres .menu__item::after {
	width: 2px;
	height: 100%;
	opacity: 0;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0s 0.1s, opacity 0.1s;
	transition: transform 0s 0.1s, opacity 0.1s;
}

.menu--ceres .menu__item::before {
	left: 0;
}

.menu--ceres .menu__item::after {
	right: 0;
}

.menu--ceres .menu__item--current::before,
.menu--ceres .menu__item--current::after {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* bottom line */
.menu--ceres .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu--ceres .menu__item--current .menu__link::after {
	-webkit-transform: translate3d(0, -48px, 0);
	transform: translate3d(0, -48px, 0);
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* Juliet Styles */

.menu--juliet .menu__item {
	position: relative;
	-webkit-transition: color .25s;
	transition: color .25s;
}

.menu--juliet .menu__item::before,
.menu--juliet .menu__item::after,
.menu--juliet .menu__item--current::before,
.menu--juliet .menu__item--current::after {
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}
.menu--juliet .menu__item::before,
.menu--juliet .menu__item::after {
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: left left;
	transform-origin: left left;
	-webkit-transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--juliet .menu__item--current::before,
.menu--juliet .menu__item--current::after {
   	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--juliet .menu__item:hover::before,
.menu--juliet .menu__item:hover::after {
   	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}


.menu--juliet .menu__item::before {
	top: 95%;
	margin-left: -9px;
	border-width: 10px;
	border-top-color: #b5b5b5;
}

.menu--juliet .menu__item--current::before {
	margin-left: -9px;
	border-width: 10px;
	border-top-color: #3399FF;
}

.menu--juliet .menu__item--current::after {
	top: 94%;
	margin-left: -5px;
	border-width: 6px;
	border-top-color: #3399FF;
}

.menu--juliet .menu__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #b5b5b5;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--juliet .menu__item--current .menu__link,
.menu--juliet .menu__item--current .menu__link:hover,
.menu--juliet .menu__item--current .menu__link:focus {
	color: black;
}

.menu--juliet .menu__item--current .menu__link::after,
.menu--juliet .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu--juliet .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--juliet .menu__link:hover,
.menu--juliet .menu__link:focus {
	color: #b5b5b5;
}

.menu--juliet .menu__item:hover .menu__link::before,
.menu--juliet .menu__item:focus .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--juliet .menu__link::before,
.menu--juliet .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--juliet .menu__link::before {
	background: #b5b5b5;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu--juliet .menu__link::after {
	background: #3399FF;
}

/* End: Juliet Styles */

/* Valentine */
.menu--valentine .menu__item {
    position: relative;
    margin: 0 1em;
}

.menu--valentine .menu__link {
    position: relative;
    display: block;
    min-width: 105px;
    text-align: center;
    color: #3399FF;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

    .menu--valentine .menu__link:hover,
    .menu--valentine .menu__link:focus {
        color: #929292;
    }

.menu--valentine .menu__item--current .menu__link {
    color: white;
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after,
.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    content: '';
    position: absolute;
    background: #3399FF;
    -webkit-transform-origin: 350% 350%;
    transform-origin: 350% 350%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

/* left line */
.menu--valentine .menu__item::before {
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/* right line */
.menu--valentine .menu__item::after {
    right: 0;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

/* top line */
.menu--valentine .menu__link::before {
    top: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* bottom line */
.menu--valentine .menu__link::after {
    bottom: 0;
}

.menu--valentine .menu__item--current::before,
.menu--valentine .menu__item--current::after,
.menu--valentine .menu__item--current .menu__link::before,
.menu--valentine .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* Media queries */

/* Stack items for smaller screens */
@media screen and (max-width:55em) {
	.menu__list {
		display: block;
		margin: 0 auto;
	}
}
